
	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header>
			<div class="logo-box">
				<a class="logo" href="index.html"><img alt="" src="images/logo.png"></a>
			</div>
			
			<a class="elemadded responsive-link" href="#">Menu</a>

			<div class="menu-box">
				<ul class="menu">
					<li><a href="/"><span>Home</span></a></li>
					<li><a href="/search"><span>Search</span></a></li>
					<li><a class="active" href="upload.html"><span>Upload A Video</span></a></li>
				</ul>				
			</div>

			

			<div class="social-box">
				<ul class="social-icons">
					<li><a href="#" class="facebook" ><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="twitter" ><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="google" ><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="pinterest" ><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#" class="youtube" ><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="github" ><i class="fa fa-github"></i></a></li>
				</ul>
				<p class="copyright">&#169; 2014 Kappe, All Rights Reserved</p>
			</div>
		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="contact-page">
					<div id="map">
					</div>

					<div class="contact-box">
						<div class="contact-info">
							<h1>Upload A Video</h1>
							<p>You can Upload A Video Here...</p>
						</div>
            <%= form_tag "/courses", method: "POST", multipart: true, id: "contact-form"  do %>

							<h1>Enter Video Detail</h1>
							<div class="text-fields">
								<div class="float-input">
									<input name="name" id="name" type="text" placeholder="Video Title">
									<span><i class="fa fa-user"></i></span>
								</div>
								<div class="float-input">
									<input name="university" id="university" type="text" placeholder="Name Of The University">
									<span><i class="fa fa-user"></i></span>
								</div>
								<div class="float-input">
									<input name="subject" id="subject" type="text" placeholder="Subject">
									<span><i class="fa fa-envelope-o"></i></span>
								</div>
								<div class="float-input">
									<input name="topic" id="topic" type="text" placeholder="Topic">
									<span><i class="fa fa-link"></i></span>
								</div>
							</div>

							<div class="submit-area">
								<textarea name="comment" id="comment" placeholder="Description"></textarea>
                <%= file_field_tag 'videofilepath', class:"float-video" %>
								<!-- <input class= "float-video" type="file" id="video" accept="video/mp4, video/webm, video/flv"> -->
								<input type="submit" id="submit_contact" class="main-button" value="Upload Now">
								<div id="msg" class="message"></div>
							</div>
							<div class="">
								
								
								
							</div>
						
            <% end %>
					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="images/preloader.gif">
	</div>


